.icon_footprint{background:url(../imgs/allbgs.png) no-repeat 0px 0px;height:30px;padding-left:32px;}
.icon_earnings{background:url(../imgs/allbgs.png) no-repeat 0px -30px;height:30px;padding-left:32px;}
.iocn_cellphone{background:url(../imgs/allbgs.png) no-repeat 0px -60px;height:30px;padding-left:32px;}
.icon_mingxi{background:url(../imgs/allbgs.png) no-repeat 0px -90px;height:30px;padding-left:32px;}
.icon_tixian{background:url(../imgs/allbgs.png) no-repeat 0px -120px;height:30px;padding-left:32px;}
.icon_team{background:url(../imgs/allbgs.png) no-repeat 0px -150px;height:30px;padding-left:32px;}
.icon_orde{background:url(../imgs/allbgs.png) no-repeat 0px -180px;height:30px;padding-left:32px;}
.icon_attention{background:url(../imgs/allbgs.png) no-repeat 0px -210px;height:30px;padding-left:32px;}
.icon_address{background:url(../imgs/allbgs.png) no-repeat 0px -240px;height:30px;padding-left:32px;}
.btn_message{background:url(../imgs/allbgs.png) no-repeat 0px -270px;height:33px;padding-left:40px;}
.btn_set{background:url(../imgs/allbgs.png) no-repeat 0px -303px;height:33px;padding-left:40px;}
.btn_card{background:url(../imgs/allbgs.png) no-repeat 0px -336px;height:35px;padding-left:55px;}
.btn_car{background:url(../imgs/allbgs.png) no-repeat 0px -371px;height:46px;padding-left:55px;}
.btn_box{background:url(../imgs/allbgs.png) no-repeat 0px -417px;height:47px;padding-left:53px;}
.btn_trade{background:url(../imgs/allbgs.png) no-repeat 0px -464px;height:53px;padding-left:55px;}
